.bg-color {
  background-color: #F4F4F5;

  &.detach {
    background-color: #DFDFDF;
  }
}

body[theme-mode='dark'] {
  .bg-color {
    background-color: #303133;

    &.detach {
      background-color: #1F1F1F;
    }
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}


.ellipsis-line(@line-number; @line-height: 1.5) {
  display: -webkit-box; /* 必须设置为 flexbox */
  -webkit-box-orient: vertical; /* 垂直排列 */
  -webkit-line-clamp: @line-number; /* 限制显示三行 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 显示省略号 */
  line-height: @line-height; /* 行高 */
  max-height: @line-number * @line-height * 1em; /* 最大高度，3行 * 行高 */
}

.ellipsis-2 {
  .ellipsis-line(@line-number: 2);
}

.ellipsis-3 {
  .ellipsis-line(3);
}

.t-drawer__close-btn {
  z-index: 1;
}

.t-tabs, .t-card {
  background-color: transparent !important;
}

.t-table, .t-tabs__operations, .t-tabs__btn--right, .t-tabs__btn--left {
  background-color: var(--music-bg-color-3);
}

.t-tabs__btn--right, .t-tabs__btn--left {
  &:hover {
    background-color: var(--music-bg-color-6);
  }
}

// 默认主题
html[data-vxe-ui-theme="light"] {
  --vxe-ui-font-color: var(--td-text-color-primary);
  --vxe-ui-font-primary-color: var(--td-text-color-link);
  --vxe-ui-layout-background-color: rgba(0, 0, 0, 0.3);
}

// 暗黑主题
html[data-vxe-ui-theme="dark"] {
  --vxe-ui-font-color: var(--td-text-color-primary);
  --vxe-ui-font-primary-color: var(--td-text-color-link);
  --vxe-ui-layout-background-color: rgba(255, 255, 255, 0.3);
  --vxe-ui-table-menu-background-color: var(--td-bg-color-component);
}

.vxe-table--context-menu-wrapper {
  background-color: var(--td-bg-color-component);
}