@import url('./scroll.css');
@import "customer";
@import "mark";

html {
  --music-bg-color-1: rgba(255, 255, 255, 0.1);
  --music-bg-color-3: rgba(255, 255, 255, 0.3);
  --music-bg-color-4: rgba(255, 255, 255, 0.4);
  --music-bg-color-6: rgba(255, 255, 255, 0.6);
}

html[theme-mode="dark"] {
  --music-bg-color-1: rgba(0, 0, 0, 0.1);
  --music-bg-color-3: rgba(0, 0, 0, 0.3);
  --music-bg-color-4: rgba(0, 0, 0, 0.4);
  --music-bg-color-6: rgba(0, 0, 0, 0.6);
}