.music-player {
  padding: 8px;

  .container {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 0;

    display: grid;
    grid-template-columns: 50px 1fr 192px;
    align-items: center;

    .image {
      width: 42px;
      height: 42px;
      cursor: pointer;
      user-select: none;
      position: relative;
      overflow: hidden;

      img {
        width: 42px;
        height: 42px;
        position: absolute;
        border-radius: var(--td-radius-default);
      }

      :deep(.t-image__wrapper) {
        height: 42px;
      }

      .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
        transition: ease-in-out 0.2s;
        backdrop-filter: blur(10px);
        opacity: 0;
        z-index: 1;
      }

      &:hover {
        .mask {
          opacity: 1;
        }
      }
    }

    .meta {
      max-width: 50vw;

      .name {
        color: var(--td-text-color-primary)
      }

      .artist {
        color: var(--td-text-color-secondary)
      }
    }

    .duration {
      margin-top: 4px;
    }
  }


  .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    :deep(.t-progress__info) {
      display: none;
    }
  }

  .controls {
    position: absolute;
    top: 16px;
    left: calc(50vw - 76px);
  }

}

.music-player-volume {
  padding: 16px;
  height: 100px;
}